@using SIGAA.Areas.OYM.Helpers
@model IEnumerable<SIGAA.Areas.OYM.Models.tblDocumentoRelacionado>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Documentos Relacionados</strong>
    </div>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Add", "Create", "tblDocumentoRelacionados", routeValues: new { DocumentId = ViewBag.DocumentID }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary pull-left" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreArchivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relacion)
            </th>            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width:68px">
                    <div class="pull-left">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "tblDocumentoRelacionados", routeValues: new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "glyphicon" })
                        &nbsp;
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "tblDocumentoRelacionados", routeValues: new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "glyphicon" })

                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreArchivo)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Ubicacion)*@
                    <a class="glyphicon glyphicon-zoom-in glyphicon-link" href="~/@item.Ubicacion" target="_blank">
                        Mostrar
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Relacion)
                </td>                
            </tr>
        }
    </table>

</div>

@* ! @Script.Render is not supported in partials - for extensions see: http://stackoverflow.com/a/13765578/209259

    @Scripts.Render("~/bundles/modalform")

*@

<script type="text/javascript">


    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click", function (e) {
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#replacetarget').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>
