@using MvcFlash.Core.Extensions
@model IEnumerable<SIGAA.Models.Rol>

<div id="listaRoles">
    @Html.Flash()
    <table class="table small">
        <tr class="active">
            <th class="col-md-1">Operaciones</th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (FrontUser.TienePermiso(RolesPermisos.SEGU_rol_puedeEditar))
                    {<a href=@Url.Action("Edit","Rol",new {id=item.iRol_id})><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-original-title="Editar"></span></a>} |
                    @if (FrontUser.TienePermiso(RolesPermisos.SEGU_rol_puedeVerDetalle))
                    {<a href=@Url.Action("Details","Rol",new {id=item.iRol_id})><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-original-title="Ver detelle"></span></a>} |                 
                    @if (FrontUser.TienePermiso(RolesPermisos.SEGU_rol_puedeEliminar))
                    {<a href=@Url.Action("Delete","Rol",new {id=item.iRol_id})><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-original-title="Eliminar"></span></a>}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
            </tr>
        }
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            placement: 'top'
        });
    });
</script>
