@using MvcFlash.Core.Extensions
@model SIGAA.Models.Rol
@{
    ViewBag.Title = "Nuevo";
}
<h3><b>Editar Rol</b></h3>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Flash()
        @Html.HiddenFor(model => model.iRol_id)
        @Html.Partial("_CreateEdit", Model)
        @*<hr />*@
        <div class="col-md-offset-2">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Guardar</button>
            <a href=@Url.Action("Index","Rol") class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}