@model SIGAA.ViewModels.PermisoDenegadoPorRolViewModel
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.iRol_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">               
                @Html.DropDownListFor(model => model.iRol_id, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.iRol_id, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group form-group-sm">
            @Html.LabelFor(model => model.iPermiso_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.iPermiso_id,null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.iPermiso_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

<div class="row">
    <div class="form-horizontal col-md-7">
        <!-- Nav tabs -->
        <ul id="myTab" class="nav nav-tabs" role="tablist" data-tabs="tabs">
            <li role="presentation" class="active"><a href="#SEGU" aria-controls="home" role="tab" data-toggle="tab">SEGU</a></li>
            <li role="presentation"><a href="#EGRE" aria-controls="profile" role="tab" data-toggle="tab">EGRE</a></li>
            <li role="presentation"><a href="#OYM" aria-controls="profile" role="tab" data-toggle="tab">OYM</a></li>
            <li role="presentation"><a href="#CONV" aria-controls="profile" role="tab" data-toggle="tab">CONV</a></li>
            <li role="presentation"><a href="#CRM" aria-controls="profile" role="tab" data-toggle="tab">CRM</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="SEGU">
                <div class="table-bordered">
                    <div class="panel-body">
                        <!-- table -->
                        <table class="table small">
                            <tr class="active">
                                <th class="col-md-5">Proceso</th>
                                <th class="col-md-1">Estado</th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Display("SELECCIONAR TODO")
                                </td>
                                <td>
                                    @Html.CheckBox("seleccionarTodo")
                                </td>
                            </tr>

                            @foreach (var item in Model.ProcesosSEGU)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sNombre)
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.bEstadoSeleccionado)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="EGRE">
                <div>
                    <div class="panel-body">
                        <!-- table -->
                        <table class="table small">
                            <tr class="active">
                                <th class="col-md-5">Proceso</th>
                                <th class="col-md-1">Estado</th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Display("SELECCIONAR TODO")
                                </td>
                                <td>
                                    @Html.CheckBox("seleccionarTodo")
                                </td>
                            </tr>

                            @foreach (var item in Model.ProcesosEGRE)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sNombre)
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.bEstadoSeleccionado)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="OYM">
                <div>
                    <div class="panel-body">
                        <!-- table -->
                        <table class="table small">
                            <tr class="active">
                                <th class="col-md-5">Proceso</th>
                                <th class="col-md-1">Estado</th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Display("SELECCIONAR TODO")
                                </td>
                                <td>
                                    @Html.CheckBox("seleccionarTodo")
                                </td>
                            </tr>

                            @foreach (var item in Model.ProcesosOYM)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sNombre)
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.bEstadoSeleccionado)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="CONV">
                <div>
                    <div class="panel-body">
                        <!-- table -->
                        <table class="table small">
                            <tr class="active">
                                <th class="col-md-5">Proceso</th>
                                <th class="col-md-1">Estado</th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Display("SELECCIONAR TODO")
                                </td>
                                <td>
                                    @Html.CheckBox("seleccionarTodo")
                                </td>
                            </tr>

                            @foreach (var item in Model.ProcesosCONV)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sNombre)
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.bEstadoSeleccionado)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="CRM">
                <div>
                    <div class="panel-body">
                        <!-- table -->
                        <table class="table small">
                            <tr class="active">
                                <th class="col-md-5">Proceso</th>
                                <th class="col-md-1">Estado</th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Display("SELECCIONAR TODO")
                                </td>
                                <td>
                                    @Html.CheckBox("seleccionarTodo")
                                </td>
                            </tr>

                            @foreach (var item in Model.ProcesosCRM)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sNombre)
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.bEstadoSeleccionado)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>


        </div>
    <div class="form-horizontal col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Metodos de acción</div>
            <div class="panel-body">
                
                <!-- table -->
                <table class="table small">
                    <tr class="active">
                        <th class="col-md-4">Acción</th>
                        <th class="col-md-1">Estado</th>                    
                    </tr>

                    @foreach (var item in Model.MetodosDeAccionDeProcesoSeleccionado)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => item.iPermiso_id)
                                @Html.DisplayFor(modelItem => item.sNombreAccion)
                                @*@if (FrontUser.TienePermiso(RolesPermisos.EGRE_recepcionTFGdelAlumno_puedeEditar))
                                {<a href="/EGRE/EntregaTFG/Edit/@item.iEntrega_id"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-original-title="Editar"></span></a>}*@
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.bEstadoSeleccionado) 
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
 

    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-warning" })
        </div>
    </div>*@
</div>


<script src="~/Scripts/general/marcaCamposRequeridos.js"></script>