@model SIGAA.ViewModels.PermisoDenegadoPorRolViewModel
@{
    ViewBag.Title = "Index";
}
<h3>DENEGAR PERMISOS A ROL</h3>
<hr />
<br />
<div class="form-horizontal">
    <div class="well well-lg">
    <div class="form-group form-group-sm">
    @Html.LabelFor(model => model.iRol_id, htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-5">
        @Html.DropDownListFor(model => model.iRol_id, null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.iRol_id, "", new { @class = "text-danger" })
    </div>
</div>
    </div>
</div>
    <br />
    @*<div class="form-group form-group-sm">
            @Html.LabelFor(model => model.iPermiso_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.iPermiso_id,null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.iPermiso_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="row">
        <div class="form-horizontal col-md-7">
            @Html.Partial("_IndexPanelProcesos",Model)       
        </div>
        <div class="form-horizontal col-md-5">
            <br />
            <br />
            @Html.Partial("_IndexPanelAcciones",Model.MetodosDeAccionDeProcesoSeleccionado)
        </div>


        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-warning" })
                </div>
            </div>*@
    </div>


    <script src="~/Scripts/general/marcaCamposRequeridos.js"></script>






    @*@model IEnumerable<SIGAA.Models.PermisoDenegadoPorRol>

        @{
            ViewBag.Title = "Index";
        }
        <h3><b>INDICE :</b>  Permisos denegados por Rol</h3>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="text-left">
                    @if (FrontUser.TienePermiso(RolesPermisos.SEGU_permisoDenegadoPorRol_puedeCrearNuevo))
                    {<a href=@Url.Action("Create","PermisoDenegadoPorRol") class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Nuevo</a>}
                </div>
            </div>
            <div class="col-md-6">
                @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ListaPermisosDenegadoPorRol" }))
                {
                    <div class="col-md-6 col-md-offset-6">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            <input type="text" class="form-control" placeholder="Buscar" name="criterio" autofocus>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br />

        @Html.Partial("_Index")*@
