@model SIGAA.Areas.CONV.Models.gatbl_DPConvalidaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gatbl_DPConvalidaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gatbl_Facultades.sFacultad_nm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatbl_Facultades.sFacultad_nm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gatbl_PConvalidaciones.sGestion_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatbl_PConvalidaciones.sGestion_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gatbl_Universidades.sOrigen_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatbl_Universidades.sOrigen_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_documentos.doc_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_documentos.doc_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPresentacionDocumento.sDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPresentacionDocumento.sDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCantidad_nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCantidad_nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sAprobados_nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sAprobados_nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEstado_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEstado_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEliminado_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEliminado_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCreated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCreated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iConcurrencia_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iConcurrencia_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.lDPConvalicacion_id }) |
    @Html.ActionLink("Ir a Lista", "Index")
</p>
