@using MvcFlash.Core.Extensions
@model IEnumerable<SIGAA.Models.Usuario>
<div id="listaUsuarios">
@Html.Flash()
<table class="table small">
    <tr class="active">
        <th class="col-md-1">Operaciones</th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agd_codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailUtepsa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dierccion)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Rol.Nombre)
        </th>  
        <th>
            @Html.DisplayName("Habilitado?")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (FrontUser.TienePermiso(RolesPermisos.SEGU_usuario_puedeEditar)) {
            <a href="/Usuario/Edit/@item.iUsuario_id"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-original-title="Editar"></span></a>} |
            @if (FrontUser.TienePermiso(RolesPermisos.SEGU_usuario_puedeVerDetalle))
            {<a href="/Usuario/Details/@item.iUsuario_id"><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-original-title="Ver detalle"></span></a>}
            @*<a href="/Usuario/Delete/@item.iUsuario_id"><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-original-title="Eliminar"></span></a>*@


        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agd_codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailUtepsa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dierccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iEstado_fl)
        </td>
    </tr>
}
</table>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'top'
    });
});
</script>