@using MvcFlash.Core.Extensions
@model SIGAA.Areas.EGRE.Models.gatbl_ComunicacionInt
<div class="row">
    <div class="form-horizontal col-md-7">
        <div class="form-group form-group-sm">
            @Html.Label("Nro / Año / Periódo", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.iNumeracion_num, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.iNumeracion_num, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.sGestion_desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sGestion_desc, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.sPeriodo_desc, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sPeriodo_desc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Buscar Alumno", htmlAttributes: new { @class = "control-label col-md-3 small" })
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    @Html.Editor("datos.nombreCompletoAlumno", new { htmlAttributes = new { @class = "form-control", @placeholder = "nombre o registro", @autofocus = "true" } })
                </div>
            </div>
            <div class="col-md-2 hidden">
                @Html.EditorFor(model => model.lEstudiante_id, null, new { htmlAttributes = new { @class = "form-control", } })
                @Html.ValidationMessageFor(model => model.lEstudiante_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.dtComunicacionInt_dt, new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.dtComunicacionInt_dt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dtComunicacionInt_dt, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.sTipoCom_fl, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EnumDropDownListFor(model => model.sTipoCom_fl, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sTipoCom_fl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Copia Persona 1", htmlAttributes: new { @class = "control-label col-md-3 small" })
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    @Html.EditorFor(model => model.sCopia1_nm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar nombre", @required = "required" } })
                </div>
                @Html.ValidationMessageFor(model => model.sCopia1_nm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Copia Persona 2", htmlAttributes: new { @class = "control-label col-md-3 small" })
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    @Html.EditorFor(model => model.sCopia2_nm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar nombre" } })
                </div>
                @Html.ValidationMessageFor(model => model.sCopia2_nm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Copia Persona 3", htmlAttributes: new { @class = "control-label col-md-3 small" })
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    @Html.EditorFor(model => model.sCopia3_nm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar nombre" } })
                </div>
                @Html.ValidationMessageFor(model => model.sCopia3_nm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Copia Persona 4", htmlAttributes: new { @class = "control-label col-md-3 small" })
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    @Html.EditorFor(model => model.sCopia4_nm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar nombre" } })
                </div>
                @Html.ValidationMessageFor(model => model.sCopia4_nm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Copia Persona 5", htmlAttributes: new { @class = "control-label col-md-3 small" })
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    @Html.EditorFor(model => model.sCopia5_nm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar nombre" } })
                </div>
                @Html.ValidationMessageFor(model => model.sCopia5_nm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="esconder">
            <div class="form-group form-group-sm">
                @Html.Label("Fecha y hora Sorteo", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.dtSorteo_dt, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.dtHora_dt, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="esconderSiTribRevision">
            <div class="form-group form-group-sm">
                @Html.Label("Fecha y hora Defensa", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.dtDefensa_dt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dtDefensa_dt, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.dtHoraDefensa_dt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dtHoraDefensa_dt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.dtHoraEntregaCaso_dt, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.dtHoraEntregaCaso_dt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dtHoraEntregaCaso_dt, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.sLugar_desc, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.DropDownListFor(model => model.sLugar_desc, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.sLugar_desc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.sDescripcion_desc, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.sDescripcion_desc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descripción" } })
                @Html.ValidationMessageFor(model => model.sDescripcion_desc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.sObs_desc, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.sObs_desc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Observación" } })
                @Html.ValidationMessageFor(model => model.sObs_desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.AreaAdministrativa.sNombre_nm, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.iAreaAdministrativa_id, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.iAreaAdministrativa_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Entregado Por", htmlAttributes: new { @class = "control-label col-sm-3 small" })
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    @Html.Editor("EntregadoPor.nombrePersona", new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar nombre", @required = "required" } })
                </div>
            </div>
            <div class="col-md-2 hidden">
                @Html.EditorFor(model => model.lEntregadoPor_id, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.lEntregadoPor_id, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">INFORMACION COMPLEMENTARIA DEL ALUMNO</div>
            <div class="panel-body">

                <div class="form-group form-group-sm">
                    @Html.Label("Alumno", htmlAttributes: new { @class = "control-label col-md-2 small" })
                    <div class="col-md-9">
                        @Html.Editor("datos.nombreAlumno", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.Label("Carrera", htmlAttributes: new { @class = "control-label col-md-2 small" })
                    <div class="col-md-9">
                        @Html.Editor("datos.carrera", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.Label("Facultad", htmlAttributes: new { @class = "control-label col-md-2 small" })
                    <div class="col-md-9">
                        @Html.Editor("datos.facultad", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="tituloPerfil">
                    <div class="form-group form-group-sm">
                        @Html.Label("Tit Perf", htmlAttributes: new { @class = "control-label col-md-2 small" })
                        <div class="col-md-9">
                            @Html.Editor("datos.TituloPerfil", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-md-1 hidden">
                            @Html.EditorFor(model => model.iPerfil_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.Label("Modalidad", htmlAttributes: new { @class = "control-label col-md-2 small" })
                    <div class="col-md-9">
                        @Html.Editor("datos.TipoGraduacion", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/general/marcaCamposRequeridos.js"></script>
<script src="~/Scripts/general/datePikerEspanol.js"></script>