@model IEnumerable<SIGAA.Areas.CONV.Models.OrigenProgramaAnalitico>

@{
    ViewBag.Title = "Origen de Programas Analiticos";
}

<h2>Origen de Programas Analiticos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sOrigen_fl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bActivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sOrigen_fl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bActivo)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.sOrigen_fl })">
                <i class="glyphicon glyphicon-edit" title="Editar"></i>
                <span class="sr-only">Editar</span>
            </a>
            <a href="@Url.Action("Details", new { id = item.sOrigen_fl })">
                <i class="glyphicon glyphicon-search" title="Ver"></i>
                <span class="sr-only">Ver</span>
            </a>
            <a href="@Url.Action("Delete", new { id = item.sOrigen_fl })">
                <i class="glyphicon glyphicon-trash" title="Eliminar"></i>
                <span class="sr-only">Eliminar</span>
            </a>
        </td>
    </tr>
}

</table>
