@model SIGAA.Areas.CONV.Models.gatbl_PConvalidaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gatbl_PConvalidaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sGestion_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sGestion_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sPeriodo_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sPeriodo_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lPostulante_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lPostulante_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lFacultad_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lFacultad_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lCarrera_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lCarrera_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agd_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agd_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sca_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sca_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crr_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crr_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sAgenda_nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sAgenda_nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sDocumento_nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sDocumento_nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtPostulacion_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtPostulacion_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lResponsable_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lResponsable_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEstado_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEstado_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEliminado_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEliminado_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCreated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCreated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iConcurrencia_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iConcurrencia_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.lPConvalidacion_id }) |
    @Html.ActionLink("Ir a Lista", "Index")
</p>
