@model SIGAA.Areas.OYM.Models.tblDocumentoHistorico

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblDocumentoHistorico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AprobadoPor.CodCargoNivel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AprobadoPor.CodCargoNivel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlCalidad.CodCargoNivel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlCalidad.CodCargoNivel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElaboradoPor.CodCargoNivel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElaboradoPor.CodCargoNivel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDocumento.sDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDocumento.sDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrigenDocumento.sDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrigenDocumento.sDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisadoPor.CodCargoNivel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisadoPor.CodCargoNivel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDirectorio.sNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDirectorio.sNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDocumento.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDocumento.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblPlantilla.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblPlantilla.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTipoDocumento.sSigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTipoDocumento.sSigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTipoProceso.sSigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTipoProceso.sSigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtFechaRegistro_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtFechaRegistro_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtFechaCreacion_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtFechaCreacion_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCorrelativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCorrelativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtValidoDesde_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtValidoDesde_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtUltimaActualizacion_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtUltimaActualizacion_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbicacionArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbicacionArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sComentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sComentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sISO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
