@using MvcFlash.Core.Extensions
@model SIGAA.Models.Permiso


        @*<div class="form-group form-group-sm">
            @Html.LabelFor(model => model.iPermiso_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                 @Html.DropDownListFor(model => model.iPermiso_id,null,"[SELECCIONE UNA OPCION]",htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.iPermiso_id, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.Modulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Modulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.Nemonico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Nemonico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nemonico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.Proceso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Proceso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Proceso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

<script src="~/Scripts/general/marcaCamposRequeridos.js"></script>
@*combo permiso*@
<script type="text/javascript" language="javascript">
        $(function () {
            $('#iPermiso_id').change(function () {
                var iPermiso_id = parseInt($("#iPermiso_id").val());
                    if (!isNaN(iPermiso_id)) {
                        $.ajax({
                            url: "@Url.Action("TraerInformacionDePermiso_json", "Permiso")",
                            type: "GET",
                            data: {rolPermiso_id:iPermiso_id},
                            dataType: "json",
                            success: function (data) {
                                $("#Modulo").val(data.Modulo)
                                $("#Nemonico").val(data.Nemonico)
                                $("#Proceso").val(data.Proceso)
                                $("#Descripcion").val(data.Descripcion)

                                //if ($('#lRecepciona_id').val() != '') {
                                //    $("#btnGuardar").attr('disabled', false);
                                //}

                                action = data.Action;
                            },
                            error: function () {
                                alert("Error al recibir estados.")
                            }
                        });
                    } else {
                        $("#Modulo").val("")
                        $("#Nemonico").val("")
                        $("#Proceso").val("")
                        $("#Descripcion").val("")

                       // $("#btnGuardar").attr('disabled', true);
                    }
                });
            })
    </script>