@using MvcFlash.Core.Extensions
@model SIGAA.Models.Permiso

@{
    ViewBag.Title = "Editar";
}
<h3><b>Editar Permiso</b></h3>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Flash()
        @Html.HiddenFor(model => model.iPermiso_id)
        @Html.Partial("_CreateEdit", Model)
        @*<hr />*@
        <div class="col-md-offset-2">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Editar</button>
            <a href="/Permiso/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
