@using MvcFlash.Core.Extensions
@model SIGAA.Areas.EGRE.Models.gatbl_Perfiles
@{
    ViewBag.Title = "Crear";
}
<h3><b>Crear nuevo Perfil</b></h3>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Flash()
    @Html.Partial("_CreateEdit", Model)
    <hr />
    <div class="col-md-offset-2">
        <button type="submit" class="btn btn-primary" id="btnGuardar" disabled="disabled"><span class="glyphicon glyphicon-floppy-save"></span> Guardar</button>
        <a href="/EGRE/Perfil/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Observaciones/General/marcaCamposRequeridos.js"></script>
    @*<link href="~/Content/autocompletar/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/autocompletar/jquery-ui.js"></script>*@
    @*//combo modalidad*@
    <script type="text/javascript" language="javascript">
        $("#sModalidad_fl").change(function () {
            var tipo = $("#sModalidad_fl :selected").text().trim();
            if ((tipo == 'EXAMEN DE GRADO') || (tipo == 'GRADUACION POR EXCELENCIA')) {
                $(".paraOcultar").hide();
                $('#sTitulo_tfg').removeAttr("required");
                $('#iTutuor_id').removeAttr("required");
                $('#sObsRevision_desc').removeAttr("required");
                $('#datosForm_nombrePersona').removeAttr("required");
            } else {
                $(".paraOcultar").show();
                $('#sTitulo_tfg').val('');
                $('#sTitulo_tfg').attr("required", "required");
                $('#iTutuor_id').attr("required", "required");
                $('#sObsRevision_desc').attr("required", "required");
                $('#datosForm_nombrePersona').attr("required", "required");
            }
        });
    </script>

    @*//autocomplete NombreCompletoAlumno*@
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#datos_nombreCompletoAlumno").autocomplete({
                source: function (request, response) {
                    $("#btnGuardar").attr('disabled', true);
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("ListarRegistrosDeAlumnos_Json", "Perfil"))",
                        dataType: "json",
                        data: { "term": request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                //minLength: 2,
                select: function (event, ui) {
                    $.ajax({
                        cache: false,
                        async: false,
                        type: "GET",
                        url: "@(Url.Action("TraerInformacionDeAlumno_Json", "Perfil"))",
                        dataType: "json",
                        data: { "term": ui.item.value },
                        success: function (data) {
                            $("#lEstudiante_id").val(data.codigoAlumno)
                            $("#datos_nombreAlumno").val(data.nombreAlumno)
                            $("#datos_carrera").val(data.carrera)
                            $("#datos_facultad").val(data.facultad)

                            if ($('#lRecepciona_id').val() != '') {
                                $("#btnGuardar").attr('disabled', false);
                            }
                            action = data.Action;
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve states.');
                        }
                    });
                }
            });
        });
    </script>

    @*//autocomplete NombrePersona_Formulario*@
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#datosForm_nombrePersona").autocomplete({
                source: function (request, response) {
                    $("#btnGuardar").attr('disabled', true);
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("ListarNombresDePersonas_Json", "Perfil"))",
                        dataType: "json",
                        data: { "term": request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                select: function (event, ui) {
                    $.ajax({
                        cache: false,
                        async: false,
                        type: "GET",
                        url: "@(Url.Action("TraerInformacionDePersona_Json", "Perfil"))",
                        dataType: "json",
                        data: { "term": ui.item.value },
                        success: function (data) {
                            $('#lEntregaForm_id').val(data.codigoPersona)
                            if ($('#lEstudiante_id').val() != '' && $('#lRecepciona_id').val() != '') {
                                $("#btnGuardar").attr('disabled', false);
                            }

                            action = data.Action;
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Fallo al recibir estados.');
                        }
                    });
                }
            });
        });
    </script>

    @*//autocomplete NombrePersona_Receptor*@
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#datosRecep_nombrePersona").autocomplete({
                source: function (request, response) {
                    $("#btnGuardar").attr('disabled', true);
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("ListarNombresDePersonas_Json", "Perfil"))",
                        dataType: "json",
                        data: { "term": request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                select: function (event, ui) {
                    $.ajax({
                        cache: false,
                        async: false,
                        type: "GET",
                        url: "@(Url.Action("TraerInformacionDePersona_Json", "Perfil"))",
                        dataType: "json",
                        data: { "term": ui.item.value },
                        success: function (data) {
                            $('#lRecepciona_id').val(data.codigoPersona)

                            if ($('#lEstudiante_id').val() != '') {
                                $("#btnGuardar").attr('disabled', false);
                            }

                            action = data.Action;
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Fallo al recibir estados.');
                        }
                    });
                }
            });
        });
    </script>

}


