@using MvcFlash.Core.Extensions
@model IEnumerable<SIGAA.Areas.EGRE.Models.gatbl_EntregaTribunales>

<div id="listaEntregaTribunales">
    @Html.Flash()
    <table class="table small">
        <tr class="active">
            <th class="col-md-1">Operaciones</th>
            <th class="col-md-3">
                @Html.DisplayName("Alumno(a)")
            </th>
            <th class="col-md-3">
                @Html.DisplayName("Carrera")
            </th>
            <th class="col-md-3">
                @Html.DisplayName("Fecha / Tribunal")
            </th>
            <th class="col-md-1">
                @Html.DisplayName("Ejemplar")
            </th>
            <th class="col-md-1">
                @Html.DisplayName("Estado Entrega")
            </th>

        
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_entregaTFGalTribunal_puedeEditar)) {
                    <a href="/EGRE/EntregaTribunales/Edit/@item.iETribunal_id"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-original-title="Editar"></span></a>} |
                    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_entregaTFGalTribunal_puedeVerDetalle)) {
                    <a href="/EGRE/EntregaTribunales/Details/@item.iETribunal_id"><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-original-title="Ver detalle"></span></a>} |
                    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_entregaTFGalTribunal_puedeEliminar)) {
                    <a href="/EGRE/EntregaTribunales/Delete/@item.iETribunal_id"><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-original-title="Eliminar"></span></a>} |
                    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_accederAseguimientoDeEjemplaresTFG))
                    {<a href="/EGRE/Perfil/IndexTFG/?criterio=@item.lEstudiante_id"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="Ver Detalle de Ejemplares"></span></a>}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.Persona.NombreCompleto) <br />
                    <b>@Html.DisplayFor(modelItem => item.Alumno.alm_registro)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.Carrera.crr_descripcion)
                </td>
                <td> 
                    <b>@Html.DisplayFor(modelItem => item.dtEntregaTribunal_dt)</b><br />
                    @Html.DisplayFor(modelItem => item.Tutor.sNombre_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntregaTFG.sNumEjemplar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sEntregaTribunal_fl)
                </td>

            </tr>
        }

    </table>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'top'
    });
});
</script>