@model SIGAA.Areas.CONV.Models.gatbl_DProgramasAnaliticos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>gatbl_DProgramasAnaliticos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gatbl_ProgramasAnaliticos.sGestion_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatbl_ProgramasAnaliticos.sGestion_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sUnidad_nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sUnidad_nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sUnidad_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sUnidad_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sContenido_gral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sContenido_gral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEstado_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEstado_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEliminado_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEliminado_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCreated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCreated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iConcurrencia_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iConcurrencia_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
