@model IEnumerable<MapiriSoftCRM.Models.tblOcupacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.lOcupacion_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.lOcupacion_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.lOcupacion_id })
        </td>
    </tr>
}

</table>
