@model SIGAA.Areas.OYM.Models.tblDocumentoProceso

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Proceso de documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lDocumento_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDocumento.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lProceso_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProceso.sNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtFechaRegistro_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtFechaRegistro_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sComentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sComentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lDocumento_version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lDocumento_version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtFechaInicio_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtFechaInicio_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lCategoria_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategoria.sDescripcion)
        </dd>

    </dl>
</div>
<p>
    @*@if (FrontUser.TienePermiso(RolesPermisos.OYM_procesoDocumentos_puedeEditar)) {
    @Html.ActionLink("Editar", "Edit", new { id = Model.lDocumentoProceso_id }, new { @class = "btn btn-warning" })} |*@
    @Html.ActionLink("Ir a Lista", "Index")
</p>
