@model SIGAA.Areas.CONV.Models.gatbl_ConvalidacionesExternasPA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gatbl_ConvalidacionesExternasPA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.agenda.tagd_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agenda.tagd_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable.tagd_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable.tagd_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtConvalidacionExterna_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtConvalidacionExterna_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sFormulario_nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sFormulario_nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sInforme_nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sInforme_nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sObs_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sObs_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEstado_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEstado_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iEliminado_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iEliminado_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCreated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCreated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iConcurrencia_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iConcurrencia_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.lConvalidacionExternaPA_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
