@using SIGAA.Areas.CRM.Helpers
@model IEnumerable<SIGAA.Areas.CRM.Models.tblActividad>

@{
    ViewBag.Title = "Actividades Laborales";
}

<h2>Actividades Laborales</h2>

<table class="table">
    <tr>
        <th>
            <div class="pull-left">
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Crear Nuevo", "Create", "tblActividades", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lRubroActividad_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width:68px">
            <div class="pull-left" style="width:68px">
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Editar", "Edit", "tblActividades", routeValues: new { id = item.lActividad_id }, htmlAttributes: new { data_modal = "", @class = "glyphicon" })
                &nbsp;
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Ver", "Details", "tblActividades", routeValues: new { id = item.lActividad_id }, htmlAttributes: new { data_modal = "", @class = "glyphicon" })
                &nbsp;
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Eliminar", "Delete", "tblActividades", routeValues: new { id = item.lActividad_id }, htmlAttributes: new { data_modal = "", @class = "glyphicon" })
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblRubroActividad.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
                
    </tr>
}

</table>
