@model IEnumerable<SIGAA.Areas.CONV.Models.gatbl_EscalaCalificaciones>

@{
    ViewBag.Title = "Escalas de Calificaciones";
}

<h2>Escalas de Calificaciones</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gatbl_Universidades.sNombre_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEscalaEvaluacion.sDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sEscala_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sEquivalencia_destino)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gatbl_Universidades.sNombre_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEscalaEvaluacion.sDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sEscala_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sEquivalencia_destino)
        </td>        
        <td>
           <a href="@Url.Action("Edit", new { id = item.lEscalaCalificacion_id })">
                <i class="glyphicon glyphicon-edit" title="Editar"></i>
                <span class="sr-only">Editar</span>
            </a>
            <a href="@Url.Action("Details", new { id = item.lEscalaCalificacion_id })">
                <i class="glyphicon glyphicon-search" title="Ver"></i>
                <span class="sr-only">Ver</span>
            </a>
            <a href="@Url.Action("Delete", new { id = item.lEscalaCalificacion_id })">
                <i class="glyphicon glyphicon-trash" title="Eliminar"></i>
                <span class="sr-only">Eliminar</span>
            </a>
        </td>
    </tr>
}

</table>
