@model SIGAA.Areas.OYM.Models.tblPlantillaMarcador

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Editar Marcador</h4>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.lPlantilla_id)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.lPlantillaMarcador_id)

            <div class="form-group">
                @Html.LabelFor(model => model.lDocumentoCaracteristica_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("lDocumentoCaracteristica_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.lDocumentoCaracteristica_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sMarcador, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sMarcador, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sMarcador, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

    </div>

        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
            <input class="btn btn-primary" type="submit" value="Guardar" />
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
