@model SIGAA.Areas.OYM.Models.tblTipoProceso

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar el registro?</h3>
<div>
    <h4>Tipo de proceso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sSigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sSigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bActivo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Ir a Lista", "Index")
        </div>
    }
</div>
