@model PropertyTaxFormManagement.Models.PPRFViewModel
<hgroup class="title">
        This is customized Livestock edit template
        </hgroup>
@Html.HiddenFor(model => model.IDMaster)
<div class="editor-label">
    @Html.LabelFor(model => model.PropertyID)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PropertyID)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.PropClssCd)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PropClssCd)
    @(Html.Kendo().DropDownList()
        .Name("PropertyType")
        .DataTextField("Description")
        .DataValueField("Code")
        .Value(Model.PropertyType)
        .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetPropertyTypes", "Home");
                })
                .ServerFiltering(true);
            }
         )
)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Quantity)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Quantity)
</div>