@model SIGAA.Areas.OYM.Models.tblDirectorio

@{
    ViewBag.Title = "Documentos Publicados - " + Model.sDescripcion;
}

<h2>Documentos Publicados: @Html.ActionLink(Model.sNombre, "FilterByDirectory",null,new { Title="Seleccionar otro directorio"})</h2>


<div id="content">
    @Html.HiddenFor(model => model.sCodigo)    
    @(Html.Kendo().Grid<SIGAA.Areas.OYM.Models.tblDocumentoPublicado>()
        .Name("grid")
        .Columns(columns =>
        {
        columns.Template(@<text></text>).ClientTemplate(
                                     "<a class='k-button k-button-icon' href='" + Url.Content("~/#=UbicacionArchivo#") + "' target='_blank' title='Ver documento'><span class='k-icon k-i-search'> </span></a>"
                                     )
                                     .Width(45).Locked(true).Visible(FrontUser.TienePermiso(RolesPermisos.OYM_documentosPublicados_puedeVerDetalle));

            //columns.Bound(o => o.sCodigo).ClientTemplate(@Html.ActionLink("#=sCodigo#", "Details", new { ID = "#=lDocumentoPlublicado_id#" })
            //.ToHtmlString()).Width(100).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Locked(true);
            columns.Bound(p => p.sCodigo).Width(100).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Locked(true);
            columns.Bound(p => p.Titulo).Width(250).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Locked(true);
            columns.Bound(p => p.OrigenDocumento.sDescripcion).Width(100).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Title("Origen");
            columns.Bound(p => p.dtFechaCreacion_dt).Width(120).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Format("{0:d}");
            columns.Bound(p => p.tblTipoDocumento.sTipoDocumento).Width(150).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false)));
            columns.Bound(p => p.tblTipoProceso.sDescripcion).Width(250).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Title("Tipo Proceso");
            columns.Bound(p => p.sCorrelativo).Width(120).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false)));
            columns.Bound(p => p.lVersion).Width(100).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false)));
            columns.Bound(p => p.dtValidoDesde_dt).Width(120).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Format("{0:d}");
            columns.Bound(p => p.dtUltimaActualizacion_dt).Width(120).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Format("{0:d}");
            columns.Bound(p => p.tblPlantilla.Nombre).Width(150).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Title("Plantilla");
            columns.Bound(p => p.tblDirectorio.sNombre).Width(150).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Title("Directorio");
            columns.Bound(p => p.EstadoDocumento.sDescripcion).Width(120).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false))).Title("Estado");

        })
        @*.ToolBar(toolBar =>
            {
            toolBar.Template(@<text>
            <a class="k-button k-button-icontext" href=@Url.Action("Create", "tblDocumentos")><span class="k-icon k-i-plus"></span>Crear Nuevo</a>
            </text>);
            })*@
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Pageable()
        //.Groupable()
        .Sortable()
        .Filterable()
        .ColumnMenu()
        .Scrollable(s => s.Height("auto"))
        .HtmlAttributes(new { style = "height:100%" })
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Resizable(rsb => rsb.Columns(true))
        .Reorderable(r => r.Columns(true))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(10)
        .Messages(m => m
            .ItemsPerPage("items por página")
            )
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .ServerOperation(false)
            .Sort(p => p.Add("lDocumentoPlublicado_id").Descending())
        //.Group(group => group.Add(p => p.gatbl_Universidades.sNombre_desc))
        //.Group(group => group.Add(p => p.gatbl_Facultades.sFacultad_nm))
        .Model(model =>
        {
            model.Id(p => p.lDocumentoPlublicado_id);
            model.Field(p => p.lDocumentoPlublicado_id).Editable(false);
        })
        .Read(read => read.Action("Index_Read", "tblDocumentoPublicados", new { id=Model.lDirectorio_id}))
        //.Create(create => create.Action("Create", "tblDocumentos"))
        //.Update(update => update.Action("Edit", "tblDocumentos"))
        //.Destroy(update => update.Action("Delete", "tblDocumentos"))
     )
    )
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            resizeContent();

            $(window).resize(function () {
                resizeContent();
            });
        });

        function resizeContent() {
            $height = $(window).height() - 210;
            $('div#content').height($height);

            var grid = $("#grid").data('kendoGrid');
            if (grid != undefined) {
                grid.resize();
            }
        }
    </script>
}