@model SIGAA.Areas.CONV.Models.gatbl_Universidades

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Universidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrigenOtraUniversidad.sDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrigenOtraUniversidad.sDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento.sDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.sDescripcion)
        </dd>                

        <dt>
            @Html.DisplayNameFor(model => model.sNombre_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sNombre_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sDireccion_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sDireccion_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sTelefonos_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sTelefonos_desc)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.bInterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bInterno)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.lUniversidad_id }) |
    @Html.ActionLink("Ir a Lista", "Index")
</p>
