@model SIGAA.Areas.CONV.Models.TipoCargaHoraria

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Tipo de Carga Horaria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bActivo)
        </dd>

    </dl>
</div>
<p>
    @if (FrontUser.TienePermiso(RolesPermisos.CONV_TipoCargaHoraria_Editar))
    { 
    @Html.ActionLink("Editar", "Edit", new { id = Model.lTipoCargaHoraria_fl }) }|
    @Html.ActionLink("Ir a Lista", "Index")
</p>
