@model SIGAA.Areas.CONV.Models.Pensum

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Pensum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lUniversidad_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatbl_Universidades.sNombre_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lCarrera_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatbl_Carreras.sCarrera_nm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bActivo)
        </dd>        
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.lPensum_id }) |
    @Html.ActionLink("Ir a Lista", "Index")
</p>
