@model SIGAA.Areas.EGRE.Models.gatbl_DRecepcionesTFG
@{
    ViewBag.Title = "CrearDetalleRecepcionTFG";
    Layout = null;
}

<h3><b>Crear nueva Corrección</b></h3>
<hr />

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "detalleObservaciones", OnSuccess="Success"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal small form-group-sm">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.sTipoObs_fl, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EnumDropDownListFor(model => model.sTipoObs_fl, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sTipoObs_fl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.sObsCorta, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.sObsCorta, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.sObsCorta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sObsDetallada, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.sObsDetallada, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.sObsDetallada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sSugerencias, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.sSugerencias, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.sSugerencias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="AgregarObservacionTFG"><span class="glyphicon glyphicon-log-in"></span> Agregar Corrección</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
        </div>
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success" id="AgregarObservacionTFG">
                    <span class="glyphicon glyphicon-saved"></span> Agregar
                </button>
            </div>
        </div>*@
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Observaciones/General/marcaCamposRequeridos.js"></script>
<script src="~/Scripts/Observaciones/AgregarObservacion.js"></script>
}