@model MapiriSoftCRM.Models.tblEvento

@{
    ViewBag.Title = "Anular";
}

<h2>Anular</h2>

<h3>Esta seguro que desea anular el registro?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dtFechaRegistro_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtFechaRegistro_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lTipoEvento_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTipoEvento.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtFechaProgramada_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtFechaProgramada_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lCliente_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCliente.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lNotificacion_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNotificacion.Descripcion)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Anular" class="btn btn-danger" /> |
            @Html.ActionLink("Ir a Lista", "Index")
        </div>
    }
</div>
